.cart-screen {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
    /* display: flex;
    justify-content: space-between; */
    color: red;
}

.summary {
    border: 1px solid blue;
}